<div id="main">
  <div id="head">
    <h1 class="title">Prelinger Pane</h1>

    <p class="logtypes">
      This is the Prelinger Pane.
      <br/>
      _Robie made this so old TVs would feel loved again and to scratch an itch he's had ever since discovering
      archive.org and the Prelinger archives well over a decade ago. And because it will always be
      the post WWII high in his soul.
      <br/>
      _If this is interesting to you, the source is on
      <a href="https://github.com/robie1373/prelingerpane" target="_blank" class="logtypes" id="about">
      Github</a>. You can also find an issue tracker there and ways to contact him if you so desire.
      <br/>
      _This is a work in progress which is why so many things don't work. Hey. You get what you pay for, right?
      <br/>
      _Anyway, he hopes you enjoy it and have a very nice day!
      <br/>
      Robie
    </p>
    <p class="logtypes">
      Version <%= Prelingerpane::VERSION %>
    </p>
  </div>
</div>