<div id="main">
  <div id="head">
    <h1 class="title">Prelinger Pane</h1>
  </div>

  <div id="nowplaying">
    <h2 class="title">Now Playing</h2>

    <% now_playing = Struct.new(:title, :description, :creator) %>
    <% @now_playing = now_playing.new("Placeholder Title", "This is a placeholder description", "Robie") %>
    <p class="logtypes">
      <%= @now_playing.title %>
    </p>

    <p class="logtypes">
      <%= @now_playing.description %>
    </p>

    <p class="logtypes">
      <%= @now_playing.creator %>
    </p>
  </div>

  <div id="find">
    <h2 class="title">Find something to watch</h2>

      <!--<h2 class="logtypes">This is the warcards setup page</h2>-->

      <form method="POST" action="/index" class="logtypes">
        Name:
        <input type="text" name="Search for:" value="searchstring" placeholder="Optional search" autofocus="autofocus"/>
        <br/>
        <input type="submit" id="search" value="Search"/>
      </form>
  </div>

  <div id="results">
    <h2 class="title">Results</h2>

    <form method="POST" action="/play" class="logtypes">
      <ul>
        <% search_results = ["Placeholder 1", "Placeholder 2", "Placeholder 3"] %>
        <% search_results.each do |result| %>
            <li>
              <input type="checkbox"/>
              <%= result %>
            </li>
        <% end %>

      </ul>
      <input type="submit" id="play" value="Play selected"/>
    </form>
  </div>

</div>
