<div id="main">
  <div id="head">
    <h1 class="title">Prelinger Pane Management</h1>
  </div>

  <div id="status">
    <h2 class="title">Current Status</h2>
    <p class="logtypes">#TODO</p>
  </div>

  <div id="manage">
    <h2 class="title">Manage Prelinger Pane</h2>
    <p class="logtypes">#TODO</p>
  </div>
</div>